<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>

        <%- include('../partials/common_head.ejs') %>

        <style type="text/css">
            .body {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .page {
                width: 100%;
                max-width: 600px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding: 45px 0;
            }

            h1 {
                margin: 0;
                padding: 25px 0;
                color: var(--navy-color);
                font-size: var(--text-size-2xl);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .user-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 9px;
                padding: 30px 0;
                border: solid 1px var(--light-gray-color);
                border-radius: 9px;
            }

            .user-name {
                width: 100%;
                text-align: center;
                color: var(--navy-color);
                font-size: var(--text-size-m);
                font-weight: var(--text-bold);
            }

            .user-metadata, .user-action {
                font-size: var(--text-size-s);
                font-weight: var(--text-normal);
                box-sizing: border-box;
                width: 100%;
            }

            .user-metadata {
                text-align: left;
                color: var(--navy-color);
                padding-left: 15px;
            }

            .user-action {
                text-align: right;
                color: var(--blue-color);
                padding-right: 15px;
            }

            .load-more-button {
                padding: 21px 30px;
                background: var(--dark-gray-color);
                border-radius: 12px;
                color: var(--white-color);
                font-size: var(--text-size-m);
                font-weight: var(--text-bold);
                cursor: pointer;
            }

            .button {
                padding: 12px 21px;
                background: var(--blue-color);
                border-radius: 12px;
                color: var(--white-color);
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                cursor: pointer;
                display: inline-block;
                text-decoration: none;
            }

            a:link, a:visited {
                color: var(--white-color);
            }
        </style>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <script type="text/javascript">
            var offset = 1;
            async function loadMoreUsers() {
                var loadMoreButton = document.getElementById('load-more-button');
                var page = document.getElementById('page');
                const urlParams = new URLSearchParams({
                    page: offset
                })
                var response = await fetch('/api/users?' + urlParams.toString(), {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                if(response<200||response>299){
                    let text = await response.text();
                    console.error(text);
                    return;
                }
                offset++;
                var data = await response.json();
                const users = data.users;
                const pageSize = data.page_size;

                users.forEach(function(user) {
                    var userContainer = document.createElement('div');
                    userContainer.classList.add('user-container');

                    var userName = document.createElement('div');
                    userName.classList.add('user-name');
                    userName.innerText = user.first_name + ' ' + user.last_name;
                    userContainer.appendChild(userName);

                    var userId = document.createElement('div');
                    userId.classList.add('user-metadata');
                    userId.innerText = 'ID: ' + user.id;
                    userContainer.appendChild(userId);

                    var userEmail = document.createElement('div');
                    userEmail.classList.add('user-metadata');
                    userEmail.innerText = 'Email: ' + user.email;
                    userContainer.appendChild(userEmail);

                    page.insertBefore(userContainer, loadMoreButton);
                });

                if(users.length < pageSize) {
                    loadMoreButton.style.display = 'none';
                    return;
                }
            }
        </script>

        <div>
            <div class="body">
                <div class="page" id="page">
                    <h1>
                        Lista degli utenti
                    </h1>
                    <% users.forEach(function(user) { %>
                        <div class="user-container">
                            <div class="user-name">
                                <%= user.first_name %> <%= user.last_name %>
                            </div>
                            <div class="user-metadata">
                                <strong>ID:</strong> <%= user.id %>
                            </div>
                            <div class="user-metadata">
                                <strong>Email:</strong> <%= user.email %>
                            </div>
                        </div>
                        <% }) %>
                    <div class="load-more-button" id="load-more-button" onclick="loadMoreUsers()">
                        Carica altri utenti
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>