<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />

    <script src="https://kit.fontawesome.com/49ec009d21.js" crossorigin="anonymous"></script>
</head>

<body>
        <% if (typeof role !== 'undefined') { %>
            <%- include('./partials/menu.ejs') %>
        <% } %>

        <style type="text/css">
            body {
                width: 100vw;
                overflow-x: hidden;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                padding-top: 60px;
            }

            img {
                width: 100%;
                max-width: 300px;
                height: auto;
            }

            h1 {
                display: block;
                padding: 10px 30px;
                font-size: var(--text-size-m);
                font-weight: var(--text-bold);
                text-align: center;
            }
        </style>
        <img src=<%= src %> alt=<%= alt %> />
        <h1>
            <%= message %>
        </h1>
</body>

</html>