<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <%- include('./partials/common_head.ejs') %>

</head>

<body>

    <script type="text/javascript">
        function redirect(url) {
            window.location = url;
        }
    </script>

    <style type="text/css">
        .body {
            width: 100vw;
            overflow-x: hidden;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
        }

        .header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 20px;
        }

        .header h1 {
            font-size: var(--text-size-xl);
            font-weight: var(--text-bold);
            color: var(--black-color);
            line-height: 1;
        }

        .poll-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            padding: 20px;
            gap: 21px;
        }

        .poll {
            width: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: solid 1px var(--black-color);
            border-radius: 9px;
            padding: 15px 0;
            cursor: pointer;
        }

        .votes-container {
            width: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .votes-container .votes {
            font-size: var(--text-size-xl);
            font-weight: var(--text-bold);
            color: var(--black-color);
            line-height: 1;
        }

        .votes-container .votes-label {
            font-size: var(--text-size-xs);
            font-weight: var(--text-normal);
            color: var(--navy-color);
        }

        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 6px;
        }

        .info .title {
            font-size: var(--text-size-s);
            font-weight: var(--text-bold);
            color: var(--black-color);
            line-height: 1;
            padding-right: 12px;
            box-sizing: border-box;
        }

        .info .description {
            font-size: var(--text-size-xs);
            font-weight: var(--text-normal);
            color: var(--navy-color);
            line-height: 1;
            padding-right: 12px;
            box-sizing: border-box;
        }

        .info .created_at {
            font-size: var(--text-size-xs);
            font-weight: var(--text-normal);
            color: var(--lime-color);
            line-height: 1;
            padding-right: 12px;
            box-sizing: border-box;
        }

        div.form {
            width: 100%;
            max-width: 700px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 20px;
            box-sizing: border-box;
        }

        div.form form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        div.form form input[type="text"] {
            padding: 15px 9px;
            font-size: var(--text-size-s);
            font-weight: var(--text-normal);
            color: var(--black-color);
            line-height: 1;
            border: solid 1px var(--black-color);
            border-radius: 6px;
            box-sizing: border-box;
        }

        div.form form select {
            padding: 15px 9px;
            font-size: var(--text-size-s);
            font-weight: var(--text-normal);
            color: var(--black-color);
            line-height: 1;
            border: solid 1px var(--black-color);
            border-radius: 6px;
            box-sizing: border-box;
        }

        div.form form button {
            padding: 15px 9px;
            font-size: var(--text-size-s);
            font-weight: var(--text-bold);
            color: var(--white-color);
            line-height: 1;
            background-color: var(--black-color);
            border: none;
            border-radius: 6px;
            cursor: pointer;
            box-sizing: border-box;
        }

        @media only screen and (min-width: 700px) {
            div.form form {
                flex-direction: row;
            }

            div.form form input[type="text"] {
                flex-basis: 200px;
            }

            div.form form input[type="text"], div.form form select, div.form form button {
                flex-grow: 1;
                flex-shrink: 1;
            }
        }

        @media only screen and (max-width: 700px) {
            div.form form {
                flex-direction: column;
            }

            div.form form input[type="text"], div.form form select, div.form form button {
                flex-basis: auto;
                width: 100%;
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    </style>

    <!-- Lista dei sondaggi -->
    <div class="body">
        <div class="header">
            <h1>Lista dei sondaggi</h1>
        </div>
        <div class="form">
            <form method="GET">
                <input type="text" name="search" placeholder="Cerca sondaggio per parola chiave" value="<%= search %>">
                <select name="votes_order">
                    <option value="votes_desc" <% if (votes_order == 'votes_desc') { %>selected<% } %>>Voti</option>
                    <option value="votes_asc" <% if (votes_order == 'votes_asc') { %>selected<% } %>>Voti (crescente)</option>
                    <option value="none" <% if (votes_order == 'none') { %>selected<% } %>>Nessun ordine</option>
                </select>
                <select name="date_order">
                    <option value="date_desc" <% if (date_order == 'date_desc') { %>selected<% } %>>Data</option>
                    <option value="date_asc" <% if (date_order == 'date_asc') { %>selected<% } %>>Data (crescente)</option>
                    <option value="none" <% if (date_order == 'none') { %>selected<% } %>>Nessun ordine</option>
                </select>
                <button type="submit">Cerca</button>
            </form>
        </div>
        <div class="poll-list">
            <% if (poll_list.length > 0) { %>
                <% poll_list.forEach(function(poll) { %>
                    <div class="poll" onclick="redirect('/poll/compile/<%= poll.id %>')">
                        <div class="votes-container">
                            <div class="votes">
                                <%= poll.votes %>
                            </div>
                            <div class="votes-label">
                                voti
                            </div>
                        </div>
                        <div class="info">
                            <div class="title"><%= poll.title %></div>
                            <div class="description"><%= poll.vote_description %></div>
                            <div class="created_at"><%= poll.created_at %></div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>Non ci sono sondaggi</p>
            <% } %>
        </div>
    </div>


</body>

</html>