<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%- include('./partials/common_head.ejs') %>

        <style type="text/css">
            .body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            h1 {
                font-size: var(--text-size-xl);
                color: var(--black-color);
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 600px;
            }

            form div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin-bottom: 10px;
            }

            form div label {
                display: block;
                font-size: var(--text-size-s);
                color: var(--black-color);
            }

            form div input {
                display: block;
                padding: 10px;
                margin-top: 5px;
                border: 1px solid var(--gray-color);
                border-radius: 5px;
            }

            form.profile button[type="submit"] {
                padding: 10px;
                margin-top: 10px;
                border: none;
                border-radius: 5px;
                background: var(--blue-color);
                color: var(--gray-color);
                font-size: var(--text-size-s);
                cursor: pointer;
            }

            div.sessions {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                max-width: 400px;
            }

            div.sessions_header {
                text-align: center;
                width: 100%;
            }

            div.session-list {
                width: 100%;
                max-width: 450px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;
            }

            div.session-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                border: 1px solid var(--navy-color);
                border-radius: 6px;
            }

            div.session-item div.info-group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 3px;
                width: 100%;
                padding: 12px 0;
            }

            div.session-item div.action {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 150px;
            }

            div.session-item div.action button {
                padding: 9px 15px;
                border: none;
                border-radius: 5px;
                background: var(--red-color);
                color: var(--gray-color);
                font-size: var(--text-size-s);
                cursor: pointer;
                text-align: center;
            }

            div.session-item div.action button:disabled {
                background: var(--black-color);
                color: var(--gray-color);
                cursor: not-allowed;
                opacity: 0.5;
            }

            div.session-item div.os {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 150px;
                padding: 18px 0;
            }

            div.session-item div.os i {
                font-size: var(--text-size-6xl);
                display: block;
                color: var(--black-color);
            }

            div.session-info {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 3px;
                width: 100%;
                padding: 12px 0;
                box-sizing: border-box;
            }

            div.session-info div.info {
                width: 100%;
                text-align: left;
                width: 100%;
                padding-left: 9px;
                font-size: var(--text-size-xs);
                color: var(--black-color);
                font-weight: var(--text-normal);
            }

            div.session-item span.bold {
                font-weight: var(--text-bold);
            }

            div.session-item span.green {
                color: var(--green-2-color);
            }

            div.session-item span.yellow {
                color: var(--yellow-2-color);
            }
        </style>

        <%- include('./partials/common_head.ejs') %>
</head>

<body>
    <script type="text/javascript">

        function checkNumberOfActiveSession() {
            const sessionList = document.getElementById('sessions-list');
            if (sessionList.children.length === 0) {
                var div = document.createElement('div');
                div.innerHTML = 'Questa &egrave; la tua unica sessione attiva';
                sessionList.appendChild(div);
            }
        }

        function sessionDeleteFormSubmission(e) {
            const sid = e.target.querySelector('input[name="session_id"]').value;
            if (!sid || sid.length === 0) {
                return;
            }
            fetch('/profile/session', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    sid: sid
                })
            })
                .then((response) => {
                    if (response.status >= 200 && response.status < 300) {
                        document.getElementById(sid).remove();
                        checkNumberOfActiveSession();
                    }
                });
        }

        function updateProfileInfoFormSubmission(e) {
            e.preventDefault();
            const first_name = e.target.querySelector('input[name="first_name"]').value;
            const last_name = e.target.querySelector('input[name="last_name"]').value;
            if (!first_name || first_name.length === 0 || !last_name || last_name.length === 0) {
                return;
            }
            fetch('/profile', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    first_name: first_name,
                    last_name: last_name
                })
            })
                .then(async (response) => {
                    if (response.status >= 200 && response.status < 300) {
                        window.location.reload();
                    } else {
                        const text = await response.text();
                        alert('Errore: ' + text);
                    }
                });
        }
    </script>
    <%- include('./partials/menu.ejs') %>
        <div class="body">
            <div>
                <h1>Il tuo profilo</h1>
            </div>
            <form method="PATCH" action="/profile" class="profile" onsubmit="updateProfileInfoFormSubmission(event)">
                <div>
                    <h2>
                        Anagrafica
                    </h2>
                </div>
                <div>
                    <label for="name">Nome</label>
                    <input type="text" name="first_name" value="<%= user.first_name %>">
                </div>
                <div>
                    <label for="surname">Cognome</label>
                    <input type="text" name="last_name" value="<%= user.last_name %>">
                </div>
                <button type="submit">Aggiorna dati</button>
            </form>
            <div class="session-block">
                <div class="sessions_header">
                    <h2>Sessioni attive</h2>
                </div>
                <div class="session-list" id="sessions-list">
                    <% if (sessions.length> 0) { %>
                        <% sessions.forEach(function(session) { %>
                            <div class="session-item" id=<%=session.sid %>>
                                <div class="info-group">
                                    <div class="os">
                                        <% if (session.os.toLowerCase()==='windows' ) { %>
                                            <i class="fa-brands fa-windows"></i>
                                            <% } else if (session.os.toLowerCase()==='mac' ) { %>
                                                <i class="fa-brands fa-apple"></i>
                                                <% } else if (session.os.toLowerCase()==='linux' ) { %>
                                                    <i class="fa-brands fa-linux"></i>
                                                    <% } else if (session.os.toLowerCase()==='android' ) { %>
                                                        <i class="fa-brands fa-android"></i>
                                                        <% } else if (session.os.toLowerCase()==='ios' ) { %>
                                                            <i class="fa-brands fa-apple"></i>
                                                            <% } else { %>
                                                                <i class="fa-brands fa-question"></i>
                                                                <% } %>
                                    </div>
                                    <div class="session-info">
                                        <% if (session.is_current) { %>
                                            <div class="info">
                                                <span class="bold green"><i class="fas fa-circle-dot"></i> Sessione corrente</span>
                                            </div>
                                            <div class="info">
                                                <span class="bold yellow"><i class="fas fa-circle-info"></i> Effettua il logout per revocarla</span>
                                            </div>
                                        <% } %>
                                        <div class="info">
                                            <span class="bold">OS: </span>
                                            <%= session.os %>
                                        </div>
                                        <div class="info">
                                            <span class="bold">Browser: </span>
                                            <%= session.browser %>
                                        </div>
                                    </div>
                                </div>
                                <div class="action">
                                    <form method="DELETE" action="/profile/session"
                                        onsubmit="event.preventDefault(); sessionDeleteFormSubmission(event)">
                                        <input type="hidden" name="session_id" value="<%= session.sid %>">
                                        <button type="submit" <%= session.is_current==1 ? 'disabled' : '' %>>
                                            Revoca
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <div>
                                        Questa &egrave; la tua unica sessione attiva
                                    </div>
                                    <% } %>
                </div>
            </div>
        </div>
</body>

</html>