<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />

    <style type="text/css">
        .compile-answer input {
            width: 45px;
            display: block;
        }
    </style>

    <% if (multiple_choice) { %>
        <link rel="stylesheet" type="text/css" href="/static/compile/multiple_choice.css" />
        <% } else { %>
            <link rel="stylesheet" type="text/css" href="/static/compile/single_choice.css" />
            <% } %>

                <script src="https://kit.fontawesome.com/49ec009d21.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/menu.ejs') %>

        <style type="text/css">
            .poll-body {
                width: 100vw;
                overflow-x: hidden;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 40px;
            }

            .poll-body form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                max-width: 600px;
                gap: 40px;
            }

            .compile-title {
                font-size: var(--text-xl);
                font-weight: var(--text-normal);
                text-align: center;
                width: 90%;
                text-align: center;
                padding: 40px 20px;
                max-width: 500px;
                color: var(--black-color);
                border: solid 1px var(--black-color);
                border-radius: 5px;
                position: relative;
                box-sizing: border-box;
                z-index: 6;
            }

            .compile-title::before {
                content: '\f10d';
                font-family: 'FontAwesome';
                font-size: 48px;
                line-height: 1;
                color: var(--black-color);
                display: block;
                position: absolute;
                top: -6px;
                left: -6px;
                z-index: 8;
                background: var(--gray-color);
            }

            .compile-title::after {
                content: '\f10e';
                font-family: 'FontAwesome';
                font-size: 48px;
                line-height: 1;
                color: var(--black-color);
                display: block;
                position: absolute;
                bottom: -6px;
                right: -6px;
                background: var(--gray-color);
                z-index: 8;
            }

            .compile-answer {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 90%;
                padding: 30px 0;
                border: 1px solid var(--black-color);
                border-radius: 5px;
                max-width: 500px;
                box-sizing: border-box;
                padding-left: 20px;
            }

            .compile-answer label {
                font-size: var(--text-l);
                font-weight: var(--text-light);
                display: block;
                flex-grow: 1;
            }

            .compile-submit {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                width: 100%;
            }

            .compile-submit button {
                font-size: 1.6em;
                font-weight: var(--text-bold);
                line-height: 1;
                padding: 20px 0;
                border: none;
                border-radius: 5px;
                background-color: var(--blue-color);
                color: var(--gray-color);
                cursor: pointer;
                transition: background-color 0.3s;
                width: 100%;
                max-width: 210px;
            }

            .compile-submit button:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            .input-checked {
                background: var(--black-color);
                color: var(--gray-color);
            }
        </style>

        <!--
        // The following piece of code is just a template to be used to create the ejs script for the poll
        // Ejs base the template on the following object template {question: "question", answers: ["answer1", "answer2", "answer3"]}
        <div class="poll-body">
            <div class="compile-title">
                Sei favorevole all'introduzione dell'eutanasia in Italia?<br />
                Facendo riferimento alla proposta portata avanti da Marco Cappato.
            </div>
            <form method="POST" action="/poll/compile">
                <div class="compile-answer" id="box-0">
                    <input type="radio" name="answer" value="yes" id="input-0" />
                    <label for="yes">Si, sono favorevole</label>
                </div>
                <div class="compile-answer" id="box-1">
                    <input type="radio" name="answer" value="no" id="input-1" />
                    <label for="no">No, sono contrario</label>
                </div>
                <div class="compile-answer" id="box-2">
                    <input type="radio" name="answer" value="ns" id="input-2" />
                    <label for="ns">Non so</label>
                </div>
                <div class="compile-submit">
                    <button type="submit" disabled="true">
                        <i class="fa-solid fa-signature"></i>
                        Invia
                    </button>
                </div>
            </form>
        </div>
        -->

        <div class="poll-body">
            <div class="compile-title">
                <%= description %>
            </div>
            <form method="POST" action="/poll/compile">
                <input type="hidden" name="poll_id" value="<%= id %>" />
                <% for (let i=0; i < options.length; i++) { %>
                    <div class="compile-answer" id="box-<%= i %>">
                        <% if (multiple_choice) { %>
                            <input type="checkbox" name="answer" value=<%=options[i]["index"] %> id="input-<%=
                                options[i]["index"] %>" />
                                <% } else { %>
                                    <input type="radio" name="answer" value=<%=options[i]["index"] %> id="input-<%=
                                        options[i]["index"] %>" />
                                        <% } %>
                                            <label for=<%=`input-${options[i]["index"]}` %>><%= options[i]["text"] %>
                                            </label>
                    </div>
                    <% } %>
                        <div class="compile-submit">
                            <button type="submit" disabled="true">
                                <i class="fa-solid fa-signature"></i>
                                Invia
                            </button>
                        </div>
            </form>
        </div>

        <script type="text/javascript">

            /**
             * The following piece of code is used to make sure that 
             * only one click event is triggered at a time.
             * Look at the hierarchy of div.compile-answer and input[type="radio"]
             * If input[type="radio"] is clicked, then 2 event are dispatched
             * 1. click of div.compile-answer
             * 2. click of input[type="radio"]
             * The following piece of code make sure that only 1 click event is
             * dispatched at a time
             */
            var input_type = '<%= multiple_choice ? "checkbox" : "radio" %>';
            var checkboxes = document.querySelectorAll(`input[type="${input_type}"]`);

            var boxes = document.querySelectorAll('.compile-answer');
            //var checkboxes = document.querySelectorAll('input[type="radio"]');

            var boxes = document.querySelectorAll('.compile-answer');

            function addClickEvent(iid, boxid) {
                document.getElementById(boxid).addEventListener('click', (e) => {
                    console.log(e)
                    console.log("click from outside")
                    e.stopPropagation();
                    document.getElementById(iid).checked = !document.getElementById(iid).checked;
                    const event = new Event('change');
                    document.getElementById(iid).dispatchEvent(event);
                })
                document.getElementById(iid).addEventListener('click', (e) => {
                    console.log(e)
                    console.log("click from inside")
                    e.stopPropagation();
                    document.getElementById(iid).checked = !document.getElementById(iid).checked;
                    const event = new Event('change');
                    document.getElementById(iid).dispatchEvent(event);
                })
            }

            for (var i = 0; i < boxes.length; i++) {
                var iid = `input-${i}`;
                var boxid = `box-${i}`;
                addClickEvent(iid, boxid);
            }
            var stateList = []
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function (e) {
                    stateList = []
                    checkboxes.forEach(function (c) {
                        stateList.push(c.checked)
                        if (!c.checked)
                            c.parentElement.classList.remove('input-checked');
                        else
                            c.parentElement.classList.add('input-checked');
                        setButtonState();
                    });
                    /*if (e.target.checked)
                        e.target.parentElement.classList.add('input-checked');
                    else
                        e.target.parentElement.classList.remove('input-checked');*/

                });
            });

            function setButtonState() {
                var enabled = false;
                stateList.forEach(function (state) {
                    enabled = enabled || state;
                })
                console.log(enabled)
                document.querySelector('.compile-submit button').disabled = !enabled;
            }
        </script>

</body>

</html>