<!DOCTYPE html>
<html>

<head>
    <title>Create Poll</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />

    <script src="https://kit.fontawesome.com/49ec009d21.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>
    <%- include('../partials/menu.ejs') %>

        <style type="text/css">
            .body {
                width: 100vw;
                overflow-x: hidden;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                max-width: 400px;
                gap: 10px;
            }

            form .form-group, form .form-group-checkbox {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 10px;
                height: auto;
            }

            form .form-group {
                justify-content: center;
            }

            form .form-group-checkbox {
                justify-content: flex-start;
                padding-left: 20px;
            }

            form .form-submit {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            form .datetime-group {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            form .datetime-group input {
                width: 50%;
            }

            form textarea {
                resize: vertical;
                width: 100%;
                box-sizing: border-box;
                border: solid 2px var(--green-color);
                border-radius: 5px;
                padding: 9px 15px;
                font-weight: var(--text-normal);
                color: var(--black-color);
                flex: 1;
                display: block;
            }

            form textarea:placeholder-shown {
                border: solid 2px var(--blue-color);
                resize: vertical;
            }

            .body form button[type="submit"] {
                background-color: var(--blue-color);
                color: var(--gray-color);
                border: none;
                border-radius: 6px;
                padding: 10px 20px;
                font-weight: var(--text-bold);
                font-size: var(--text-size-m);
                cursor: pointer;
            }

            form .datetime-group input {
                border: solid 2px var(--blue-color);
                border-radius: 5px;
                padding: 9px 15px;
                font-weight: var(--text-normal);
                color: var(--black-color);
                text-align: center;
            }

            form input[type="checkbox"] {
                zoom: 1.5;
            }

            button.manage_questions {
                background-color: var(--black-color);
                color: var(--gray-color);
                border: none;
                border-radius: 6px;
                padding: 10px 20px;
                font-weight: var(--text-bold);
                font-size: var(--text-size-m);
                cursor: pointer;
            }

            div.option_container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;
            }

            div.option_container label.option_number {
                font-weight: var(--text-bold);
                font-size: var(--text-size-m);
                color: var(--black-color);
            }

            label input[type="checkbox"] {
                zoom: 1.5;
                vertical-align: middle;
            }

            div.option-group {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
            }

            div.error {
                display: none;
                width: 100%;
                text-align: center;
                background: var(--red-color);
                color: var(--gray-color);
                font-weight: var(--text-normal);
                font-size: var(--text-size-s);
                padding: 21px;
                box-sizing: border-box;
                margin-top: 21px;
                max-width: 400px;
            }
        </style>

        <script type="text/javascript">
            var errorDisplay = false;
            function displayError(message) {
                var error = document.getElementById('error');
                error.innerText = message;
                if (!errorDisplay) {
                    error.style.display = 'block';
                    errorDisplay = true;
                }
            }
            function hideError() {
                var error = document.getElementById('error');
                error.style.display = 'none';
                errorDisplay = false;
            }
            async function checkPollBeforeSubmit(e) {
                e.preventDefault();
                const title = document.getElementById('title').value;
                const description = document.getElementById('description').value;
                if (!title || !description) {
                    displayError('Il titolo e la descrizione non possono essere vuoti');
                    return;
                }
                const options = [];
                for (let i = 1; i <= option_id; i++) {
                    const option = document.getElementById('option_' + i).value;
                    if (!option) {
                        displayError('Inserisci il testo di tutte le risposte');
                        return;
                    }
                    options.push(option);
                }
                if (options.length < 2) {
                    displayError('Inserisci almeno due risposte');
                    return;
                }
                const start_date = document.getElementById('date-start')._flatpickr.selectedDates[0];
                const end_date = document.getElementById('date-end')._flatpickr.selectedDates[0];
                if (!start_date || !end_date) {
                    displayError('Inserisci la data di inizio e di fine del sondaggio');
                    return;
                }
                if (start_date >= end_date) {
                    displayError('La data di inizio deve essere precedente a quella di fine');
                    return;
                }
                const domains = document.getElementById('domain_filter').value;
                if (!domains) {
                    e.target.submit();
                    return;
                }
                var parts = domains.split(',').map(function (item) {
                    return item.trim();
                });
                for (let i = 0; i < parts.length; i++) {
                    const domain = parts[i];
                    const domainParts = domain.split('.');
                    if(domainParts.length < 2) {
                        displayError('Il dominio \'' + domain + '\' non è valido');
                        return;
                    }
                    for(var j=0;j<domainParts.length;j++) {
                        if(j==0&&!(domainParts[j]=='*' || domainParts[j].match(/^[a-z0-9\-]+$/))) {
                            displayError('Il dominio \'' + domain + '\' non è valido');
                            return;
                        }
                        if(j==domainParts.length-1&&!(domainParts[j].match(/^[a-z]+$/))) {
                            displayError('Il dominio \'' + domain + '\' non è valido');
                            return;
                        }
                        if(j>0&&!(domainParts[j].match(/^[a-z0-9\-]+$/))) {
                            displayError('Il dominio \'' + domain + '\' non è valido');
                            return;
                        }
                    }
                }
                e.target.submit();
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('title').oninput = function() {
                    hideError();
                }
                document.getElementById('description').oninput = function() {
                    hideError();
                }
                document.getElementById('domain_filter').oninput = function() {
                    hideError();
                }
                document.getElementById('date-start').oninput = function() {
                    hideError();
                }
                document.getElementById('date-end').oninput = function() {
                    hideError();
                }
            })
        </script>

        <div class="body">
            <form action="/poll/create/<%= id %>" method="POST" onsubmit="checkPollBeforeSubmit(event)">
                <div class="form-group">
                    <textarea id="title" name="title" placeholder="Testo della domanda"><%= (typeof old !== 'undefined' && old.title) ? old.title : '' %></textarea>
                </div>
                <div class="form-group">
                    <textarea id="description" name="description"
                        placeholder="Descrizione a scopo informativo"><%= (typeof old !== 'undefined' && old.description) ? old.description : '' %></textarea>
                </div>
                <div class="option-group" id="option_list">
                    <div class="option_container" id="option_container_1">
                        <label class="option_number" for="option_1">1.</label>
                        <textarea id="option_1" name="option_1" oninput="hideError()" placeholder="Testo della risposta"></textarea>
                    </div>
                </div>
                <div class="form-group-checkbox" id="multiple_restrict">
                    <label for="multiple"><input type="checkbox" id="multiple" name="multiple_choice" <% if (typeof old !== 'undefined' && old.multiple_choice) { %>checked<% } %> />
                    Abilita risposte multiple </label>
                </div>
                <div class="form-group-checkbox" id="anonymous_restrict">
                    <label for="anonymous"><input type="checkbox" id="anonymous" name="anonymous_compilation" <% if (typeof old !== 'undefined' &&old.anonymous_compilation) { %>checked<% } %> />
                        risposte anonime</label>
                </div>
                <div class="form-group-checkbox" id="adult_restrict">
                    <label for="adult"><input type="checkbox" id="adult" name="adult_only" <% if (typeof old !== 'undefined' && old.adult_only) { %>checked<% } %> />
                        Abilita compilazione per soli
                        maggiorenni</label>
                </div>
                <div class="form-group-checkbox" id="public_stats">
                    <label for="public"><input type="checkbox" id="public" name="public_stats" <% if (typeof old !== 'undefined' && old.public_stats) { %>checked<% } %> />
                        Rendi pubbliche le statistiche</label>
                </div>
                <div class="form-group" id="domain_filter">
                    <textarea id="domain_filter" name="domain_filter"
                        placeholder="Restringi compilazione per domini email. Separa i domini da una ','. Es. 'test.com,*.google.com'"><%= (typeof old !== 'undefined' && old.domain_filter) ? old.domain_filter : '' %></textarea>
                </div>
                <div class="datetime-group">
                    <input type="date" name="start_date" id="date-start" placeholder="Valido dal:" />
                    <input type="date" name="end_date" id="date-end" placeholder="Valido fino al:" />
                </div>
                <div class="form-submit">
                    <button type="submit">Crea</button>
                </div>
            </form>
            <div>
                <button class="manage_questions" onclick="addOption()"><i class="fa-solid fa-plus"></i></button>
                <button class="manage_questions" onclick="removeOption()"><i class="fa-solid fa-minus"></i></button>
            </div>
            <div class="error" id="error">
                test
            </div>
        </div>

        <script type="text/javascript">
            flatpickr("#date-start", {
                enableTime: true,
                dateFormat: "d/m/Y H:i",
            });
            flatpickr("#date-end", {
                enableTime: true,
                dateFormat: "d/m/Y H:i",
            });
            var option_id = 1;
            function addOption() {
                option_id++;
                var option_container = document.createElement('div');
                option_container.className = 'option_container';
                option_container.id = 'option_container_' + option_id;
                var label = document.createElement('label');
                label.className = 'option_number';
                label.htmlFor = 'option_' + option_id;
                label.innerText = option_id + '.';
                var textarea = document.createElement('textarea');
                textarea.id = 'option_' + option_id;
                textarea.name = 'option_' + option_id;
                textarea.placeholder = 'Risposta numero ' + option_id;
                textarea.oninput = function () {
                    hideError();
                }
                option_container.appendChild(label);
                option_container.appendChild(textarea);
                var option_list = document.getElementById('option_list');
                option_list.appendChild(option_container);
            }
            function removeOption() {
                if (option_id > 1) {
                    var option_container = document.getElementById('option_container_' + option_id);
                    option_container.remove();
                    option_id--;
                }
            }
        </script>
</body>

</html>