<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/common/style.css" />

    <script src="https://kit.fontawesome.com/49ec009d21.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/menu.ejs') %>

        <style type="text/css">

            :root {
                --p-p: #FDFFE2;
                --p-s: #83B4FF;
                --p-t: #5A72A0;
                --p-a: #1A2130;
            }

            .body {
                width: 100vw;
                overflow-x: hidden;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
            }

            h1 {
                display: block;
                padding: 10px 30px;
                font-size: var(--text-size-m);
                font-weight: var(--text-bold);
            }

            div.poll {
                width: 100%;
                max-width: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                box-sizing: border-box;
                padding: 20px 30px;
                gap: 6px;
                background-color: var(--p-p);
                border-radius: 9px;
            }

            div.poll h2 {
                line-height: 1;
                margin: 0;
                padding: 0;
                display: block;
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                color: var(--p-a);
            }

            div.poll div.description {
                line-height: 1;
                margin: 0;
                padding: 0;
                display: block;
                font-size: var(--text-size-xs);
                font-weight: var(--text-normal);
                color: var(--p-t);
            }

            div.poll div.total_voter {
                line-height: 1;
                margin-top: 6px;
                display: block;
                font-size: var(--text-size-xs);
                font-weight: var(--text-normal);
                color: var(--p-t);
            }

            @media screen and (max-width: 600px) {
                div.poll div.action div.container-a {
                    padding: 0;
                }
                div.poll div.action div.container-a div.a {
                    padding: 18px 18px;
                }

                div.poll div.action div.container-d {
                    padding: 0;
                    justify-content: center;
                    align-items: flex-end;
                }
                div.poll div.action div.container-d div.d {
                    padding: 18px 18px;
                }
            }

            @media screen and (min-width: 600px) {
                div.poll div.action div.container-a {
                    padding: 6px 12px;
                }
                div.poll div.action div.container-a div.a {
                    padding: 6px 45px;
                }

                div.poll div.action div.container-d {
                    padding: 6px 12px;
                    justify-content: center;
                    align-items: center;
                }
                div.poll div.action div.container-d div.d {
                    padding: 6px 45px;
                }
            }

            div.poll div.action {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
                width: 100%;
            }

            div.poll div.action div.container-a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            div.poll div.action div.container-d {
                display: flex;
                flex-direction: column;
                
                flex: 1;
            }

            div.poll div.action div.container-a div.a {
                display: block;
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                color: var(--p-p);
                background-color: var(--p-t);
                border-radius: 9px;
                cursor: pointer;
                text-align: center;
            }

            div.poll div.action div.container-d div.d {
                display: block;
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                color: var(--p-p);
                background-color: var(--red-color);
                border-radius: 9px;
                cursor: pointer;
                flex: 1;
                text-align: center;
            }

            a {
                text-decoration: none;
                color: inherit;
            }
        </style>

        <div class="body">
            <h1>Lista dei sondaggi</h1>
            <% if (polls.length > 0) { %>
                <% polls.forEach(function(poll) { %>
                    <div class="poll" id="<%= 'poll-' + poll.id %>">
                        <h2><%= poll.title %></h2>
                        <div class="description"><%= poll.description %></div>
                        <div class="total_voter">voti attuali: <%= poll.total_voter %></div>
                        <div class="action">
                            <div class="container-a">
                                <div class="a">
                                    <a href="/poll/stats/<%= poll.id %>">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="container-a">
                                <div class="a">
                                    <a href="/poll/voters/<%= poll.id %>">
                                        <i class="fa-solid fa-users"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="container-d">
                                <div class="d" onclick="deletePoll('<%= poll.id %>')">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>Non ci sono sondaggi</p>
            <% } %>
        </div>

        <script type="text/javascript">
            function deletePoll(id) {
                fetch('/poll/' + id, {
                    method: 'DELETE'
                }).then(function(response) {
                    if(!response.ok) {
                        alert('Errore durante l\'eliminazione del sondaggio');
                        return
                    }
                    document.getElementById('poll-' + id).remove();
                });
            }
        </script>
</body>

</html>