<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <%- include('../partials/common_head.ejs') %>
    </head>
    <body>
        <%- include('../partials/menu.ejs') %>

        <style type="text/css">

            :root {
                --p-p: #FDFFE2;
                --p-s: #83B4FF;
                --p-t: #5A72A0;
                --p-a: #1A2130;
            }

            .body {
                width: 100vw;
                max-width: 100%;
                overflow-x: hidden;
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;
            }

            h1 {
                display: block;
                padding: 10px 30px;
                box-sizing: border-box;
                font-size: var(--text-size-m);
                font-weight: var(--text-bold);
            }

            div.page-panel {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                overflow-x: auto;
            }

            .page-panel table {
                border-collapse: collapse;
                max-width: 700px;

                /* Browsers tend to ignore max-width on elements that are not block or inline-block */
                display: block;
            }

            .page-panel th:first-child, .page-panel  td:first-child {
                width: 100%;
                max-width: 200px;
            }

            .page-panel tr {
                border-bottom: solid 1px var(--navy-color);
            }

            .page-panel tr:last-child {
                border-bottom: none;
            }

            .page-panel th, .page-panel  td {
                border-right: solid 1px var(--navy-color);
                border-left: solid 1px var(--navy-color);
            }

            .page-panel th:first-child, .page-panel  td:first-child {
                border-left: none;
            }

            .page-panel th:last-child, .page-panel  td:last-child {
                border-right: none;
            }

            .page-panel th.user {
                background: var(--yellow-color);
                color: var(--dark-gray-color);
                padding: 15px 9px;
                box-sizing: border-box;
                font-size: var(--text-size-s);
                width: 200px;
                text-align: center;
            }

            .page-panel th.option {
                background: var(--yellow-color);
                color: var(--dark-gray-color);
                padding: 15px 9px;
                box-sizing: border-box;
                font-size: var(--text-size-s);
                width: 15px;
                text-align: center;
            }

            .page-panel td.user {
                color: var(--dark-gray-color);
                padding: 12px 9px;
                box-sizing: border-box;
                font-size: var(--text-size-xs);
                text-align: center;
            }

            .page-panel td.option {
                color: var(--dark-gray-color);
                padding: 12px 9px;
                box-sizing: border-box;
                font-size: var(--text-size-xs);
                text-align: center;
            }


            div.options {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 700px;
            }

            div.options table {
                border-collapse: collapse;
                width: 100%;
                max-width: 700px;
            }

            div.options th, div.options td {
                vertical-align: center;
                font-size: var(--text-size-s);
            }

            div.options tr {
                border-bottom: solid 1px var(--navy-color);
            }

            div.options tr:last-child {
                border-bottom: none;
            }

            div.options tr:first-child {
                background: var(--yellow-color);
                height: 57px;
            }

            div.options tr:first-child th {
                text-align: center;
            }

            div.options th:first-child, div.options td:first-child {
                border-right: solid 1px var(--navy-color);
                width: 120px;
                text-align: center;
            }

            div.options td:last-child {
                padding: 0 15px;
            }



            @media screen and (max-width: 600px) {
                div.options td:first-child {
                    font-size: var(--text-size-l);
                }
            }

            @media screen and (min-width: 600px) {
                div.options td:first-child {
                    font-size: var(--text-size-2xl);
                }
            }
        </style>

        <div class="body">
            <h1>Lista dei votanti</h1>

            <% if(!is_anonymous) { %>
            <div class="options">
                <table>
                    <tr>
                        <th>
                            Numero
                        </th>
                        <th>
                            Testo della risposta
                        </th>
                    </tr>
                    <% for(var i=0;i<options_number;i++) { %>
                        <tr>
                            <td>
                                <%= i+1 %>
                            </td>
                            <td>
                                <%= options[i] %>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </div>
            <% } %>

            <div class="page-panel">
                <table>
                    <tr>
                        <th class="user">Nominativo</th>
                        <% if(!is_anonymous) { %>
                            <% for(var i=0;i<options_number;i++) { %>
                                <th class="option"><%= i+1 %></th>
                            <% } %>
                        <% } %>
                    </tr>
                    <% for(var i=0;i<votes.length;i++) { %>
                        <tr>
                            <td class="user"><%= votes[i].created_by %></td>
                            <% if(!is_anonymous) { %>
                                <% for(var j=0;j<options_number;j++) { %>
                                    <% if(votes[i].answers.find(index => index == j)) { %>
                                        <td class="option">
                                            <i class="fas fa-circle"></i>
                                        </td>
                                    <% } else { %>
                                        <td class="option"></td>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tr>
                    <% } %>
                </table>

            </div>
        </div>


    </body>
</html>