<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <%- include('../../partials/common_head.ejs') %>

        <style type="text/css">
            .body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .reports {
                width: 100%;
                max-width: 600px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 21px;
            }

            .header {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            h1 {
                margin: 0;
                padding: 25px 0;
                color: var(--navy-color);
                font-size: var(--text-size-l);
            }

            .section {
                width: 100%;
                text-align: left;
                padding-left: 18px;
                padding-top: 12px;
                padding-bottom: 12px;
                box-sizing: border-box;
                color: var(--navy-color);
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                border-top: solid 1px var(--black-color);
                margin-top: 36px;
            }

            .section i {
                color: var(--lime-color);
                margin-right: 6px;
            }

            .title,
            .description {
                width: 100%;
                text-align: center;
                color: var(--navy-color);
                font-size: var(--text-size-s);
                max-width: 400px;
                padding: 12px 0;
            }

            .title {
                font-weight: var(--text-bold);
            }

            .description {
                font-weight: var(--text-normal);
            }

            .option_text {
                width: 100%;
                max-width: 400px;
                text-align: left;
                color: var(--black-color);
                font-size: var(--text-size-s);
                font-weight: var(--text-normal);
                padding: 3px 12px;
                box-sizing: border-box;
            }

            .option_text i {
                color: var(--blue-color);
                margin-right: 6px;
            }

            .report_text {
                width: 100%;
                max-width: 400px;
                text-align: left;
                color: var(--black-color);
                border-left: solid 4px var(--red-color);
                font-size: var(--text-size-s);
                font-weight: var(--text-normal);
                padding: 3px 12px;
                margin: 6px 0;
                box-sizing: border-box;
            }

            div.error {
                width: 100%;
                text-align: center;
                background: var(--red-color);
                color: var(--white-color);
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                padding: 18px 21px;
                box-sizing: border-box;
                display: none;
            }

            form.block {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;
            }

            form.block textarea {
                width: 100%;
                box-sizing: border-box;
                padding: 12px 15px;
                color: var(--navy-color);
                background-color: var(--white-color);
                border-radius: 6px;
                border: solid 2px var(--blue-color);
                font-size: var(--text-size-xs);
                font-weight: var(--text-normal);
                resize: vertical;
            }

            form.block textarea:focus {
                outline: none;
            }

            form.block select {
                width: 100%;
                padding: 12px 15px;
                box-sizing: border-box;
                color: var(--navy-color);
                background-color: var(--white-color);
                border-radius: 6px;
                border: solid 2px var(--blue-color);
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                text-align: center;
            }

            form.block button[type="submit"] {
                width: 100%;
                padding: 21px 15px;
                color: var(--gray-color);
                background-color: var(--red-color);
                border-radius: 6px;
                border: none;
                font-size: var(--text-size-s);
                font-weight: var(--text-bold);
                cursor: pointer;
            }
        </style>
</head>

<body>
    <%- include('../../partials/menu.ejs') %>

        <div class="body">
            <div class="reports">
                <div class="header">
                    <h1>
                        Info sul sondaggio
                    </h1>
                </div>
                <div class="section">
                    <i class="fas fa-info-circle"></i>Info sul sondaggio
                </div>
                <div class="title">
                    <%= poll_info.title %>
                </div>
                <div class="description">
                    <%= poll_info.vote_description %>
                </div>
                <div class="section">
                    <i class="fas fa-info-circle"></i>Elenco delle opzioni
                </div>
                <% for (var i=0;i<poll_options.length;i++) { %>
                    <div class="option_text">
                        <i class="fas fa-circle"></i>
                        <%= poll_options[i] %>
                    </div>
                    <% } %>
                    <div class="section">
                        <i class="fas fa-info-circle"></i>Elenco delle segnalazioni
                    </div>
                        <% for (var i=0;i<poll_reports.length;i++) { %>
                            <div class="report_text">
                                <%= poll_reports[i].report_text %>
                            </div>
                            <% } %>
                    <div class="section">
                        <i class="fas fa-info-circle"></i>Azioni
                    </div>
                    <form method="POST" class="block" action="/poll/report/<%= id %>" id="action-form">
                        <textarea name="block_reason" placeholder="Motivo del blocco" id="block-reason"></textarea>
                        <select name="request_action" required>
                            <option value="approve" selected>Approva</option>
                            <option value="reject">Rifiuta</option>
                        </select>
                        <button type="submit">
                            Procedi
                        </button>
                    </form>
                    <div class="error" id="error"></div>
            </div>
        </div>

        <script type="text/javascript">
            document.getElementById('action-form').addEventListener('submit', async function(event) {
                event.preventDefault();
                var form = event.target;
                const block_reason = form['block_reason'].value;
                const request_action = form['request_action'].value;
                if(request_action=='approve'&&block_reason.length==0) {
                    document.getElementById('block-reason').focus();
                    document.getElementById('block-reason').style.border = 'solid 2px var(--red-color)';
                    return;
                }
                const url = form.action;
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        block_reason: block_reason,
                        request_action: request_action
                    })
                });
                if(response.status<200||response.status>299) {
                    let text = await response.text();
                    document.getElementById('error').innerText = text;
                    document.getElementById('error').style.display = 'block';
                    return;
                }
                window.location.href = '/report/list';
            });

            document.getElementById('block-reason').addEventListener('input', function(event) {
                event.target.style.border = 'solid 2px var(--blue-color)';
            });
        </script>

</body>

</html>